{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Plateforme{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/paper.min.css') }}">
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>Ma plateforme d'annonces</h1>
        <p>
            Ce projet est propulsé par Symfony,
            et construit grâce au MOOC OpenClassrooms et SensioLabs.
        </p>
        <div class="row">
            <a class="btn btn-primary btn-lg" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2">
                Participer au MOOC »
            </a>
            <div class="small text-right">
                Langues :
                {% if(app.request.locale == 'fr') %}
                    FR |
                {% else %}
                    <a href="{{ path('app_select_lang', {'langue' : 'fr'}) }}">FR</a> |
                {% endif %}
                {% if(app.request.locale == 'en') %}
                    EN
                {% else %}
                    <a href="{{ path('app_select_lang', {'langue' : 'en'}) }}">EN</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div id="menu" class="col-md-3">
            <h5>Les annonces</h5>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('advert_index') }}">Accueil</a></li>
                <li><a href="{{ path('advert_new') }}">Ajouter une annonce</a></li>
            </ul>

            <h5>Dernières annonces</h5>
            {#{{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}#}
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ asset('bootstrap/js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>