{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Modifier une annonce | {{ parent() }}
{% endblock %}

{% block platform_body %}
    <h4>Modifier une annonce</h4>

    {{ form_start(edit_form) }}
    <div class="well">
        {{ form_errors(edit_form) }}

        <div class="media">
            <div class="media-left media-middle">
                {% if advert.image != null %}
                    <img
                        style="max-height: 20px;"
                        src="{{ asset(advert.image.webPath) }}"
                        alt="{{ advert.image.alt }}"
                    />
                {% else %}
                    <img
                        style="max-height: 96px;"
                        src="{{ asset('uploads/img/no_image_available.jpg') }}"
                        alt="No image available"
                    />
                {% endif %}
            </div>
            <div class="media-body media-middle">
                {{ form_widget(edit_form.image) }}
            </div>
        </div>

        <div style="margin-top: 20px;">
            {{ form_widget(edit_form) }}
        </div>
    </div>

    <p>
        Attention : Vous éditez une annonce déjà existante, merci de ne pas changer
        l'esprit général de l'annonce déjà publiée.
    </p>

    <p>
        <a href="{{ path('advert_show', { 'id': advert.id }) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        <input class="btn bg-primary" type="submit" value="Modifier" />
    </p>
    {{ form_end(edit_form) }}
{% endblock %}
