{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Ajouter une annonce
{% endblock %}

{% block platform_body %}
    <h4>Ajouter une annonce</h4>

    {{ form_start(form) }}
    <div class="well">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

    <p>
        <a href="{{ path('advert_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        <input class="btn bg-primary" type="submit" value="Ajouter" />
    </p>
    {{ form_end(form) }}
{% endblock %}
