{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Lecture d'une annonce | {{ parent() }}
{% endblock %}

{% block platform_body %}
    <div class="media">
        <div class="media-left media-middle">
            {% if advert.image != null %}
                <img
                    style="max-height: 20px;"
                    src="{{ asset(advert.image.webPath) }}"
                    alt="{{ advert.image.alt }}"
                />
            {% else %}
                <img
                    style="max-height: 96px;"
                    src="{{ asset('uploads/img/no_image_available.jpg') }}"
                    alt="No image available"
                />
            {% endif %}
        </div>
        <div class="media-body media-middle">
            <h4 class="media-heading">{{ advert.title }}</h4>
            <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>
        </div>
    </div>

    <div class="well">
        {{ advert.content }}
    </div>

    <div style="display: inline-block;">
        <a href="{{ path('advert_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </div>
    <div style="display: inline-block;">
        <a href="{{ path('advert_edit', { 'id': advert.id }) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
    </div>
    <div style="display: inline-block;">
        <a href="{{ path('advert_delete', { 'id': advert.id }) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>
    </div>
{% endblock %}
